body {
	max-width: 54rem;
	margin: auto;
	padding: 1rem;
}
h1, h2, h3, h4 {
	color: navy;
}
h2 {
	font-size: 1.3rem;
}
h3 {
	font-size: 1.1rem;
}
hgroup > p {
	color: navy;
	font-weight: bold;
	margin: 0px;
}
hgroup > h1 {
	margin-bottom: 0px;
}

a:link {
	color: navy;
}
a:visited {
	color: green;
}
a:active {
	color: red;
}

table {
  margin-left: auto;
  margin-right: auto;
}
td {
  padding: .5em 1em;
  text-align: center;
}
ul.news {
  list-style-type: none;
  padding-left: 12ex;
}
ul.news li {
/*
	margin-left: 10ex;
	*/
}
ul.news li .release-date {
	display: inline-block;
	min-width: 12ex;
	margin-left: -12ex;
}
ul.news li .changes {
	white-space: nowrap;
}
ul.toc {
	padding: 0px;
	margin-top: 5ex;
	font-size: 75%;
	color: #404040;
}
ul.toc li {
	display: inline;
	padding: 0px 0.25em;
	white-space: nowrap;
}
ul.toc li:before {
	content:"\0000bb";
}
ul.toc a {
	color: inherit;
	text-decoration: none;
}
div#logo {
	width: 50%;
	max-width: 256px;
	height: auto;
	margin-bottom: 3ex;
}
div#logo img {
	width: 100%;
}
table.screenshots img {
	width: 100%;
}
td {
	vertical-align: top;
	width: 30%;
	max-width: 256px;
}
@media (max-width: 420px) {
	ul.toc {
		clear: both;
	}
	table.screenshots td {
		padding: 8px;
	}
	ul {
		padding-left: 3ex;
	}
	ul.toc {
		font-size: 100%;
	}
	ul.toc li {
		padding: 0px 0.5em;
		line-height: 1.5;
	}
}
div.get_tw_box table.gadget {
	margin-left: auto;
}
div.get_tw_box table.gadget iframe {
	display: none !important;
}
div.get_tw_box table.gadget td {
	padding: 0px;
}
div.get_tw_box {
	width: 34ex;
	clear: right;
	float: right;
	display: none;
	margin-bottom: 1ex;
}
#tw_downloads {
	background-color: #eeeeec;
	min-height: 32px;

	padding: 4px 4px 4px 44px;

	font-family: sans-serif;

	border: 3px solid #000080;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#tw_downloads .link {
	background-image: url(img/getTw.png);
	background-repeat: no-repeat;
	margin-left: -40px;
	padding: 5px 0px 0px 40px;
	overflow: visible;
	min-height: 27px;

	display: block;
	text-decoration: none;
	font-weight: bold;
	color: #000080;
}
#tw_downloads .info {
	font-size: 75%;
	font-weight: normal;
}
#tw_downloads .other_ways {
	margin-top: 1ex;
	font-size: 75%;
}

